body, html {
	margin: 0;
	overflow: hidden;
    background-color: aqua;
}

.ocean {
	fill:white;
}

.land {
	fill:white;
    stroke:silver;
}

.boundary {
	fill: none;
	stroke:silver;
	stroke-linejoin: round;
	stroke-linecap: round;
	vector-effect: non-scaling-stroke;
}
